
/backend/__pycache__
/backend/env
/.vscode
/backend/venv
/frontend/node_modules
/frontend/node_modules/.cache
/frontend/node_modules/.cache/default-development
/frontend/node_modules/.cache/.eslintcache
/frontend/node_modules/.cache/default-development/0.pack